@media (max-width: 990px) {
    header {
        padding: 10px;

    }

    .navbar {
        gap: 10px;
    }

    .navbar__links {
        font-size: 55px;
        background-color: #131212;
        width: 100%;
        height: calc(100vh - 60px);
        position: absolute;
        top: 60px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        z-index: 2;
        display: none;
    }

    .navbar__links a {
        font-size: 16px;
    }

    .navbar i {
        display: flex;
        order: 2;
        cursor: pointer;
        color: aliceblue;
    }

    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
    }

    .menu-label img {
        width: 25px;
        height: 25px;
    }

    .open-menu {
        display: flex;
    }

    .cart-bubble {
        right: 40px;
    }


    #hero {
        width: 100%;
        padding: 30px 10px 10px 0px;
        max-height: 430px;
        gap: 20px;
        margin: 0 auto;
        justify-content: center;
    }

    .hero__info {
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .hero__info h1 {
        width: 100%;
        max-width: 85%;
        font-size: 35px;
        min-width: unset;
    }

    .hero__info p {
        max-width: 80%;
    }

    .hero__botton ul {
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 25px;
        flex-direction: column;
    }

    .hero__info p {
        width: 100%;
    }

    .hero__botton a {
        font-size: 15px;
        gap: 15px;
    }

    #about_us {
        padding: 15px 0;
    }

    .about_us--text {
        max-width: 85%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    #products {
        max-width: 80%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 15px 0;
        padding-bottom: 50px;
    }

    .products__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 5px;
    }

    .categories {
        width: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .product__info img {
        width: 100px;
        height: 60px;
    }

    .product__info {
        gap: 8px;
        justify-content: center;
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .products__description {
        max-width: 300px;
    }

    .products__title {
        font-size: 20px;
    }

    .products__specs {
        font-size: 13px;
    }

    .products__price h3 {
        font-size: 17px;
    }

    products__popular button {
        width: 5px;

    }

    .categories {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 300px;
        align-items: center;
    }

    .popular__container {
        padding-bottom: 0;
    }

    .category {
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 25px 0;
    }


    .contact__direction {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 55px;
    }

    .contact__direction__info,
    .datos {
        display: flex;
        align-items: center;
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact__social {
        display: flex;
        justify-content: center;
    }

    .gmap_canvas {
        width: 400px;
        height: 300px;
    }

    footer {
        padding: 15px 0;
        justify-content: center;
        align-items: center;
    }

    footer a {
        font-size: 15px;
    }

    footer p {
        font-size: 13px;
    }

    footer span {
        font-size: 15px;
    }


    .footer__links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .copyright {
        max-width: 80%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

@media (max-width: 500px) {
    .gmap_canvas {
        display: none;
    }

    .hero__botton ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #products {
        width: 100%;
    }

    .categories {
        flex-wrap: wrap;
    }

    .category {
        width: 80px;
    }

    .products__popular button {
        height: 30px;
        width: 100px;

    }

    .products__info {
        gap: 5px;
    }

    .cart {
        width: 100%;
    }

    .cart-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .item-title,
    .item-bid,
    .item-price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .empty-msg{
        text-align: center;
        
    }
}